.homepage section[role=main] {
    margin: 0px;
	padding-top: 140px;
	text-align: center;
}

#time-display {
	font-size:10em;
}

#container {
	margin: auto;
}


@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
		text-align: center;
    }
	
	#time-display {
		font-size:6em;
	}
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
		text-align: center;
    }
}



	