.homepage section[role=main] {
    margin: 0;
    padding-top: 140px;
    text-align: center;
}

#time-display {
    font-size:10em;
    text-align: center;
}

#time-display div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#minutes {
    width: 45%;
    text-align:right;
}

#seconds {
    width: 45%;
    text-align:left;
}

#separator {
    display: inline-block;
    width: 30px;
}
    

#container {
    margin: auto;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        text-align: center;
        padding-top: 180px;
    }
    
    #time-display {
        font-size:5em;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        text-align: center;
    }
}