.homepage section[role=main] {
    margin: 0px;
	padding-top: 140px;
	text-align: center;
}

#time-display {
	font-size:10em;
    margin:0;
}

#container {
	margin: auto;
}


@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
		text-align: center;
        padding-top: 180px;
    }
	
	#time-display {
		font-size:5em;
	}
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
		text-align: center;
    }
}



	